html {
    font-size: 16px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    @media only screen and (max-width: 600px) {
        font-size: 14px;
    }
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

main {
    width: 90%;
    max-width: 800px;
    text-align: left;
    margin: 20px auto;
}


h1 {
    font-size: 2.5rem;
    margin: 0;
    padding: 20px 0;
}

header {
    border-bottom: 1px solid black
}

nav {
    display: flex;
    font-size: 1.25rem;
    
}
   
nav ul {
    list-style: none;
    margin: 0 auto;
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
    padding-bottom: 20px
}

nav ul li a {
    text-decoration: none;
    color: black;
}
nav ul li a:hover {
    color: cornflowerblue;
}
nav ul li a.active {
    color: #FF6347;
}
nav ul li a:visited {
    color: #ba09eb;
}

/*Body CSS begins*/

.profile-picture {
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 20px auto;
 
}

.welcome {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    font-size: 1.25rem;
    padding-bottom: 20px;
}

#about-me {
    margin: 20px 0;
    font-size: 1.25rem;
    border-bottom: solid 1px black;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
}

#about-me p {
    margin: 10px 0;
    font-size: 1rem; 
}

#skills-and-technologies {
    margin: 20px 0;
    border-bottom: 1px solid black;
}

#skills-and-technologies h2 {
    font-size: 1.5rem;
    margin: 0;
    padding-bottom: 10px;
}

#skills-and-technologies h3{
    font-size: 1.25rem;
    margin: 0;
    padding-bottom: none;
}

#skills-and-technologies li{
    margin: 0;
    padding: 5px;
}

#projects {
    border-bottom: 1px solid black;
}

#projects h2 {
    font-size: 1.5rem;
    margin: 0;
}

#what-im-learning-next {
    padding-top: 20px;
    font-size: 1.25rem;
    display: flex;
    flex-direction: column;
}
#what-im-learning-next h2 {
    font-size: 1.5rem;
    margin: 0;
    padding-bottom: none;

}

#what-im-learning-next p {
    font-size: 1rem;
}


/*Contact page CSS begins*/

#lets-connect {
    font-size: 1.25rem;
    display: flex;
    flex-direction: column;
}

#lets-connect p {
    margin: 10px 0;
    font-size: 1rem;
}

#lets-connect a {
    text-decoration: none;

}
#lets-connect a:hover {
    color: cornflowerblue;
}
#lets-connect a.active {
    color: #FF6347;
}
#lets-connect ul li a:visited {
    color: #ba09eb;
}

#lets-connect blockquote {
    font-size: 1rem;
    margin: 0;
    padding: 0;
    text-align: center;
}

#lets-connect p {
    font-size: 1rem;
}

footer {
    border-top: 1px solid black;
    margin: 0 auto;
    text-align: center;
}


